.puzzle {
  display: inline-block;
  width: 400px;
  height: 400px;
  position: relative;
  .rect {
    cursor: pointer;
    float: left;
    position: absolute;
    background-repeat: no-repeat;
    // transition: all 0.1s ease-out;
  }
}